/*  ______________________
        STILE GENERALE
    ______________________
*/
ul {
list-style-type: none;
padding-left: 0;
margin-left: 0;
}

a:link, a:visited {
    text-decoration: none;
    /*color: #F58529;*/
    color: #0398CA;
    background-color: transparent;
}
a:hover, a:active {
    text-decoration: underline overline;
    color: #aaa;
}

input,select{	
	/*color: #F58529;*/
        color: #0398CA;
	font-weight:bold;
}
select > option{
		font-weight:normal;
}

/*  ______________________
        STILE LAYOUT
    ______________________
*/

#wrapper{
	margin:10px;
	min-width: 1020px;
}

    /*HEADER*/


    #header {

     background-color:#555;
     padding: 10px;
     height: 150px;
     margin: 10px 0px 0px 0px;
    }

    #logo{
            padding:25px;
            height: 100px;
            margin-right:10px;
            float:left;
            border:0px;
    }
            #img_logo{

            height: 100px;	
    }

    .src{
                    height:100%;
                    float:left;
    }

	/* SEARCH */

	#div_src {
		position: relative;
		margin-top: 55px;
		margin-left: 200px;
		height: 150px;
		min-width:800px;
		
	}

		#form_src{
			padding:0px;
			margin:0px;
			display: inline;
			height:50px;
		}
			#cat_src{
				height:100%;
				width:150px;
				border:0px;
				background-color:#DDD;
				margin-right:-4px;
				padding:10px;
			}
			#desc_src{
				padding-left:20px;
				height:100%;
				border:0px;
				margin-right:-5px;
				min-width:300px;
				width:40%;
			}
			#submit_src, .submit{
				height:100%;
				border:0px;
				width:100px;
			}

                #login{
                        float:right;
                        height:50px;	
                }


		
* { padding: 0; margin: 0; }


/*END HEADER*/

/*MAIN PAGE*/
#main_page{
  
}
#menu {
 
 background-color: #DDD;
 width:220px;
 float: left;
}

	#menu > ul >li{
		
		text-align:center;
                padding:8% 0%;
		height:20px;
                margin:5px;
		background-color:#555;
	}
	
	.p_menu{
		font-weight:bold;
		font-size:14pt;
	}



#page { 
 background-color: #DDD;
 margin:10px 0px 0px 230px;
 padding:20px;
}
#footer { 
 margin-top:10px;
 clear: both;
 background: #555;
 padding: 10px;
}

/*END MAIN PAGE*/
.clear { clear: both; background: none; }



/*  ______________________
        STILE DOVE SIAMO
    ______________________
*/

.static h1{
	color:#0398CA;
}

#iframe{
    width:80%;
    height:600px;
    border:0px;
}

/*  ______________________
        STILE OFFERTA
    ______________________
*/

#promo
{
    background-color: #8B9898;
    padding:20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

    .img_promo
    {
        height: 120px;
        width: 120px;
        margin-top: 40px;
        float:left;
    }
    
    #tit
    {
        padding: 10px;
        height: 20px;
        width: 60%;
    }
    
        h2 
        {
            color: #313837;
            font-size: 30px;
            margin-left: 130px;
        }
    
    #pricebox
    {
        text-align: right;
        float: right;
        margin: -30px 0px 0px 10px;
    }
    
        .price
        {
            font-size: 25px;
        }

        .discount
        {
            font-size: 20px;
        }
    
    #desc
    {
        height: 150px;
        margin: 35px 110px 0px 145px;
    }
    
    #submit_buy
    {
        height:30px;
        width:100px;
        border:0px;
        margin-top: -30px;
        /*
        position: absolute;
        */
        float: right;
    }